<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/catalog.css}">
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
</head>

<body>
<header class="header">
    <div class="container position_relative">
        <div class="header_left"><a class="noA" href="index.html">GitarGir</a></div>
        <div class="header_right">
            <nav class="header_nav">
                <div class="display_inline-block marg_r_30">
                    <a class="header_nav_a" href="">Каталог</a>
                </div>
                <div class="display_inline-block marg_r_30">
                    <a class="header_nav_a" href="">Озывы</a>
                </div>
                <div class="display_inline-block marg_r_30">
                    <a class="header_nav_a" href="">Заказы</a>
                </div>
                <div class="display_inline-block marg_r_30">
                    <a class="header_nav_a" href="">Карзина</a>
                </div>

            </nav>
        </div>
    </div>
</header>

<div class="catalog">
    <div class="container">
        <div class="catalog_container">
            <div class="catalog_textMain">
                товары
            </div>

            <div class="catalog_blockI">
                1 <a href="">гитары</a>
            </div>
            <div class="catalog_blockI">
                2 <a href="">ударные</a>
            </div>
            <div class="catalog_blockI">
                3<a href="">клавишные</a>
            </div>
            <div class="catalog_blockI">
                4<a href="">микрафоны</a>
            </div>
            <div class="catalog_blockI">
                5<a href="">наушники</a>
            </div>
            <div class="catalog_blockI">
                6<a href="">студийная апаратура</a>
            </div>

        </div>
    </div>
</div>

<footer class="footer_kontakt">
    <div class="container position_relative">
        <div class="kontakt_text">Котакты</div>
    </div>
</footer>

</body>
</html>